.w{
	width: 1190px;
	margin: auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.red{
	color: red;
}
i{
	font-style: normal;
}
li{
	list-style: none;
}
ul{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #999;
}
body {
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
    color: #666;
}
.clearfix:after{
	content: "";
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/iconfont.woff2') format('woff2'),
      url('../fonts/iconfont.woff') format('woff'),
      url('../fonts/iconfont.ttf') format('truetype'),
      url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*顶部*/
.J_event{
	background-color: black;
}
.J_event a{
	display: block;
	height: 80px;
	background: url(../images/top.jpg) no-repeat;
	position: relative;
}
.J_event a i{
	text-decoration: none;
	font-style: normal;
	color: white;
	font-size: 16px;
	height: 20px;
	width: 20px;
	position: absolute;
	text-align: center;
	line-height: 20px;
	right: 0;
	top: 5px;
} 
/*快捷导航栏*/
.shortcut{
	background-color: #E3E4E5;
	border-bottom: 1px solid #ddd;;
}
.shortcut .w{
	height: 30px;
	line-height:30px;
	color:#999999;
}
.shortcut ul.fl i{
	color: red;
	font-style: normal;
}
.shortcut ul a{
	color:#999999;
}
.shortcut ul a.red{
	color: red;
}
.shortcut ul.fr li{
	display: inline-block;
	padding:0 8px;
}
.shortcut ul.fr li.first{
	padding:0;
}
.shortcut ul.fr li span:hover{
	color: red;
}
.shortcut ul.fr li i{
	font-size: 12px;
}
/*搜索*/
.header{
	border-bottom: 1px solid #ddd;
}
.header .w{
	height: 140px;
	position: relative;
}
.header .logo{
	position: absolute;
	left: 0;
	top: -30px;
	background-color: purple;
	box-shadow: 0 -6px 10px rgba(0,0,0,.2);
}
.header .logo a{
	display: block;
	height: 170px;
	width: 190px;
	background: url(../images/logo.jpg) no-repeat;
}
.header .search{
	text-align: center;
	position: relative;
}
.header .sbox{
	width: 546px;
	height: 32px;
	border: 2px solid #e1251b;
	position: absolute;
	top: 25px;
	left: 260px;
}
.header .sbox input{
	left: 0;
	position: absolute;
	border: 1px solid transparent;
	padding: 2px 44px 2px 17px; 
	width: 425px;
	height: 26px;
	color: #999;
	outline: 0;
}
.header .carmera{
	display: inline-block;
	height: 15px;
	width: 19px;
	background: url(../images/sprite-search.png) no-repeat;
	position: absolute;
	top: 8px;
	right: 75px;
	font-size: 21px;
}
.header .carmera:hover{
	background: url(../images/sprite-search.png) no-repeat -30px 0;
}
.header .sicon{
	position: absolute;
	right: 0;
	background-color: #e1251b;
	color: white;
	font-size: 16px;
	font-weight: bold;
	height: 32px;
	width: 58px;
	line-height: 32px;
}
.header .sicon:hover{
	background-color: #c81623;
}
.header .hotwords{
	position: absolute;
	left: 260px;
	top: 65px;
}
.header .hotwords a{
	padding-right: 10px;
}
.header .navitems{
	position: absolute;
	left: 210px;
	bottom: 0;
	font-size: 15px;
}
.header .navitems-group1{
	overflow: hidden;
}
.header .navitems-group1 li{
	float: left;
	height: 40px;
}
.header .navitems a{
	display: inline-block;
	margin: 0 11px;
	color: #333;
	padding: ;
	line-height: 40px;
}
.header .navitems a:hover{
	color: #e1251b;
}
.header .settleup{
	border: 1px solid #eee;
	position: absolute;
	right: 230px;
	height: 34px;
	width: 130px;
	top: 25px;
	line-height: 34px;
	text-align: center;
}
.header .settleup .num{
	color: white;
	background-color: #e1251b;
	height: 12px;
	width: 12px;
	padding: 1px 3px;
	position: absolute;
	top: 0;
	left: 33px;
	border-radius: 7px;
	line-height: 12px;
	text-align: center;
}
.header .settleup:hover{
	border: 1px solid #e1251b;
}
.header .settleup i{
	font-weight: 700;
	font-size: 21px;
}
.header .settleup a{
	color: #e1251b;
}
.header .erweima a{
	position: absolute;
	right: 0;
	top: 5px;
	margin: 5px;
	width: 66px;
	height: 66px;
	background-color: #f6f6f6;
	background: url(../images/erweima.png) no-repeat center;
	border: 1px solid #ccc;
}
.header .padpost{
	position: absolute;
	right: 0px;
	bottom: 10px;
}
/*快捷导航栏结束*/
/*底部开始*/
.footer .help a:hover,.footer .links a:hover{
	color: #e1251b;
}
.footer{
  background-color: rgb(244,244,244);
  position: relative;
}
.footer-service{
	border-bottom: 1px solid #dedede;
}
.footer .goodness{
	width: 1178px;
	height: 42px;
	padding: 30px 0 30px 45px;
}
.footer .goodness li{
	position: relative;
	padding-left: 46px;
	margin-right: 77px;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: bolder;
	color: black;
}
.footer .goodness h5{
	height: 42px;
	width: 36px;
	text-indent: -999px;
    overflow: hidden;
    position: absolute;
    left: 0;
    margin: 0;
}
.footer .goodness .many h5{
	background: url(../images/ico_service.png) no-repeat;
}
.footer .goodness .quick h5{
	background: url(../images/ico_service.png) no-repeat 0 -42px;
}
.footer .goodness .good h5{
	background: url(../images/ico_service.png) no-repeat 0 -85px;
}
.footer .goodness .less h5{
	background: url(../images/ico_service.png) no-repeat 0 -128px;
}
.footer .help{
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.footer .help dl{
	margin:10px 0 10px;
	color: #777;
	width: 236px;
}
.footer .help dt{
	font-size: 14px;
	font-weight: 700;
	height: 22px;
	padding-bottom: 6px;
}
.footer .help dd{
   margin: 0;
   height: 22px;
}
.footer .help dd a{
	font-size: 12px;
	color: #777;
}
.copyright{
	color: #9E9E9B;
	text-align: center;
}
.copyright .links{
	color: #D4CDCD;
	margin-bottom: 10px;
}
.copyright .links a{
	color: #777;
	margin: 0 8px;
}
.copyright .c-info{
	padding-bottom: 10px;
}
.copyright .c-info p{
	margin: 0;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
/*底部结束*/