@font-face {
  font-family: 'iconfont';
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/iconfont.woff2') format('woff2'),
      url('fonts/iconfont.woff') format('woff'),
      url('fonts/iconfont.ttf') format('truetype'),
      url('fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*主体*/
.fs{
  background-color: rgb(244,244,244);
  position: relative;
}
.fs .w{
  padding: 10px 0 0px;
  overflow: hidden;
  position: relative;
  z-index: 999;
}
/*.fs .clearfix:after{
  content: "";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}*/
.fs .left{
  width: 190px;
  height: 460px;
  padding-top: 10px;
  background-color: white;
}
.fs .left li{
  padding-left: 18px;
  width: 172px;
  font-size: 14px;
  line-height: 23px;
}
.fs .left li:hover{
  background-color: #eee;
}
.fs .left li a{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  color: #636363;;
}
.fs .left li a:hover{
  color: #e1251b;
}
.fs .mid1{
  margin: 0 10px;
  position: relative;
}
.fs .mid1 .post{
  height: 470px;
  width: 590px;
}
.fs .mid1 .select{
  width: 125px;
  height: 15px;
  position: absolute;
  left: 30px;
  bottom: 20px;
}
.fs .mid1 .select li{
  position: relative;
  float: left;
  width: 8px;
  height: 8px;
  margin-left: 4px;
  border: 1px solid rgba(0,0,0,.05);
  background-color: rgba(255,255,255,.4);
  border-radius: 50%;
}
.fs .mid1 .select li:hover,.fs .mid1 .select .current{
  border: 3px solid rgba(0,0,0,0.3);
  background-color: rgba(255,255,255,1);
  width: 9px;
  height: 9px;
  top: -2px;
}
.fs .mid1 .left,.fs .mid2 .left{
  position: absolute;
  left: 0;
  top: 50%;
  padding:0;
  height: 35px;
  width: 25px;
  line-height: 35px;
  text-align: center;
  background-color: rgba(0,0,0,.15);
  color:rgba(255,255,255,.8);
  border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.fs .mid1 .right,.fs .mid2 .right{
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0;
  height: 35px;
  width: 25px;
  line-height: 35px;
  text-align: center;
  background-color: rgba(0,0,0,.15);
  color: rgba(255,255,255,.8);
  border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.fs .mid1 .right a,.fs .mid1 .left a{
  position: relative;
}
.fs .mid1 .right a{
  right: -3px;
}
.fs .mid1 .left a{
  left: -3px;
}
.fs .mid2 .right:hover,.fs .mid2 .left:hover,.fs .mid1 .right:hover,.fs .mid1 .left:hover{
  background-color: rgba(0,0,0,.4);
  color: color: rgba(255,255,255,.8);
}
.fs .mid2 .right a,.fs .mid2 .left a{
  color: rgba(255,255,255,.8);
  position: relative;
}
.fs .mid2 .right a{
  right: -3px;
}
.fs .mid2 .left a{
  left: -3px;
}
.fs .mid2{
  margin-right: 10px;
  position: relative;
}
.fs .mid2 .pic{
  display: block;
  height: 150px;
  width: 190px;
}
.fs .mid2 .juli{
  margin-bottom: 10px;
}
.fs .mid2 img{
  height: 150px;
  width: 190px;
}
.fs .right{
  width: 190px;
  height: 470px;
  background-color: #ffffff;
}
.fs .right .user{
  position: relative;
  height: 102px;
}
.fs .right .user img{
  border-radius: 50%;
  height: 42px;
  width: 42px;
  border: 1px solid #ffffff;
  position: absolute;
  top: 13px;
  left: 20px;
}
.fs .right .login{
  width: 106px;
  height: 38px;
  position: absolute;
  right: 10px;
  top: 16px;
}
.fs .right .login a:hover{
  color: #c81623;
}
.fs .right a{
  color: #636363;
}
.fs .right .fuli{
  height: 25px;
  position: absolute;
  left: 0px;
  top: 55px;
  text-align: center;
  width: 100%;
}
.fs .fuli a{
  display: inline-block;
  height: 25px;
  width: 70px;
  margin: 10px 5px;
  line-height: 25px;
  border-radius: 12px;
}
.fs .fuli a:hover{
  background-color: #c81623;
  color: white;
}
.fs .fuli .newuser{
  color: white;
  background-color: #e1251b;
}
.fs .fuli .vip{
  background-color:#363634;
  color: #e5d790;
}
.fs .right .user:after{
  position: absolute;
  height: 1px;
  left: 15px;
  bottom: 0px;
  right: 15px;
  content: " ";
  background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
}
.fs .quickreport{
  height: 130px;
  position: relative;
}
.fs .quickreport:after{
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
}
.fs .quickreport .header{
  border-bottom: none;
  position: relative;
  padding-top: 10px;
}
.fs .quickreport h3{
  font-size: 14px;
  height: 20px;
  color: #333;
  margin: 0;
  margin-left:15px;
}
.fs .quickreport .header a{
  font-size: 12px;
  color: #999;
  position: absolute;
  right: 15px;
  top: 11px;
  line-height: 20px;
}
.fs .quickreport a:hover,.fs .tool a:hover{
  color: #e1251b;
}
.fs .quickreport .news{
  padding: 5px 0 10px;
  position: relative;
} 
.fs .quickreport .news li{
  margin:0 15px;
  height: 21px;
  line-height: 22px;
  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fs .quickreport .news .news_tag{
  display: inline-block;
  height: 16px;
  width: 35px;
  line-height: 16px;
  text-align: center;
  color: #e1251b;
  background-color: rgba(225,37,27,.08);
  margin-right: 6px;
}
.fs .right .tool{
  height: 238px;
  padding-top: 8px;
}
.fs .right .tool li{
  height: 55px;
  width: 63px;
  text-align: center;
}
.fs .right .tool .iconfont{
  font-size: 27px;
}
/*双12*/
.fs .ad {
  background: url(../images/bg.png) no-repeat top center;
  position: absolute;
  top: 0;
  left: 0;
  height:480px;
  width: 100%;
}
.fs .ad a{
  display: block;
  height: 100%;
}
/*双12结束*/